<!-- GROUP ALGORITHM -->
{% raw %}
<form name="status.algoForm" ng-show="status.systemPane.selected == 0">
	<ul class="list-group">
		<li class="list-group-item row">
			<div class="col-padding col-md-6" align="left">
				<label>Number of interactions (nI)</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<input type="text" class="system-row" ng-model="prmt.simulation.nI">
			</div>
		</li>
		<li class="list-group-item row">
			<div class="col-padding col-md-6" align="left">
				<label>Integration step (dr)</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<input type="text" class="system-row" ng-model="prmt.simulation.dr"> &#8491;
			</div>
		</li>
		<li class="list-group-item row">
			<div class="col-padding col-md-6" align="left">
				<label>Voxel size (dL)</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<input type="text" class="system-row" ng-model="prmt.simulation.dL"> &#8491;
			</div>
		</li>
		<!--
		<li class="list-group-item row">
			<div class="col-padding col-md-6" align="left">
				<label>Surface approximation</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<div class="btn-group" align="center">
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.simulation.surface_s_approximation" uib-btn-radio="'yes'">Yes</button>
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.simulation.surface_s_approximation" uib-btn-radio="'no'">No</button>
				</div>
			</div>
		</li>
		-->
		<li class="list-group-item row" ng-hide="prmt.header.mode == 'NRA/P'">

			<div class="col-padding col-md-6" align="left">
				<label>Integration method </label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<div class="btn-group" align="center">
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.simulation.algorithm" uib-btn-radio="'ssct'" ng-disabled="prmt.header.mode == 'ERBS'">Default MC</button>
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.simulation.algorithm" uib-btn-radio="'traj'">Connected trajectories</button>
				</div>
			</div>

			<div ng-show="prmt.simulation.algorithm == 'traj'">
				&nbsp;
				<div class="panel panel-default insetTable">
					<div class="row thinline" align="left">
						<div class="col-md-6 padcol">
							<label> Multiple Scattering </label>
						</div>
						<div class="col-md-6 padcol">
							<div class="btn-group" align="center">
								<button type="button" class="btn btn-sm btn-default" ng-model="prmt.trajectory.MS" uib-btn-radio="'yes'">Yes</button>
								<button type="button" class="btn btn-sm btn-default" ng-model="prmt.trajectory.MS" uib-btn-radio="'no'">No</button>
							</div>
						</div>
					</div>
					<div class="row thinline" align="left">
						<div class="col-md-6 padcol">
							<label> Direct mode </label>
						</div>
						<div class="col-md-6 padcol">
							<div class="btn-group" align="center">
								<button type="button" class="btn btn-sm btn-default" ng-model="prmt.trajectory.direct" uib-btn-radio="'yes'">Yes</button>
								<button type="button" class="btn btn-sm btn-default" ng-model="prmt.trajectory.direct" uib-btn-radio="'no'">No</button>
							</div>
						</div>
					</div>
					<div class="row thinline" align="left">
						<div class="col-md-6 padcol">
							<label>Maximum trajectory distance </label>
						</div>
						<div class="col-md-6 padcol">
							<input type="text" class="system-row" ng-model="prmt.trajectory.max_s_distance"> &#8491;
						</div>
					</div>
					<div class="row thinline" align="left">
						<div class="col-md-6 padcol">
							<label>Minimum connection angle </label>
						</div>
						<div class="col-md-6 padcol">
							<input type="text" class="system-row" ng-model="prmt.trajectory.angle_s_min"> °
						</div>
					</div>
					<div class="row thinline" align="left">
						<div class="col-md-6 padcol">
							<label>Maximum Cross Section </label>
						</div>
						<div class="col-md-6 padcol">
							<input type="text" class="system-row" ng-model="prmt.trajectory.CS_s_frac"> (d&sigma;/d&Omega;) / &sigma;<sub>total</sub>
						</div>
					</div>
					<div class="row thinline" align="left">
						<div class="col-md-6 padcol">
							<label>&Delta;E at connection </label>
						</div>
						<div class="col-md-6 padcol">
							<input type="text" class="system-row" ng-model="prmt.trajectory.accept_s_dE"> keV
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</form>
{% endraw %}
