<!-- GROUP BEAM -->
{% raw %}
<form name="status.beamForm" ng-show="status.systemPane.selected == 3">
	<ul class="list-group">
		<li class="list-group-item row" ng-show="prmt.header.mode == 'MEIS'">
			<div class="col-padding col-md-6" align="left">
				<label>Projectile</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<div class="btn-group" align="center">
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.beam.type" uib-btn-radio="'ion'">Ion</button>
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.beam.type" uib-btn-radio="'molecule'">Molecule</button>
					<!--<button type="button" class="btn btn-sm btn-default" ng-model="prmt.beam.type" uib-btn-radio="'electron'">Electron</button>-->
				</div>
			</div>
		</li>
		<li class="list-group-item row">
			<div class="col-padding col-md-6" align="left">
				<label>Particles x sr</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<input type="text" class="system-row" ng-model="prmt.beam.particle_s_sr">
			</div>
		</li>
		<li class="list-group-item row" ng-hide="prmt.header.mode == 'ERBS'">
			<div class="col-padding col-md-6" align="left">
				<label>Atomic number (Z)</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<input type="text" class="system-row" ng-model="prmt.beam.Z">
			</div>
		</li>
		<li class="list-group-item row" ng-hide="prmt.header.mode == 'ERBS'">
			<div class="col-padding col-md-6" align="left">
				<label>Atomic mass (M)</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<input type="text" class="system-row" ng-model="prmt.beam.M"> amu
			</div>
		</li>
		<li class="list-group-item row" ng-hide="prmt.header.mode == 'NRA/P'">
			<div class="col-padding col-md-6" align="left">
				<label>Beam energy (E<sub>0</sub>)</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<input type="text" class="system-row" ng-model="prmt.beam.E0"> keV
			</div>
		</li>
		<li class="list-group-item row" ng-show="prmt.header.mode == 'NRA/P'">
			<div class="col-padding col-md-6" align="left">
				<label>Minimum energy (E<sub>min</sub>)</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<input type="text" class="system-row" ng-model="prmt.output.Emin"> keV
			</div>
		</li>
		<li class="list-group-item row" ng-show="prmt.header.mode == 'NRA/P'">
			<div class="col-padding col-md-6" align="left">
				<label>Maximum energy (E<sub>max</sub>)</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<input type="text" class="system-row" ng-model="prmt.output.Emax"> keV
			</div>
		</li>
		<li class="list-group-item row">
			<div class="col-padding col-md-6" align="left">
				<label>Incidence angle (&theta;<sub>inc</sub>)</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<input type="text" class="system-row" ng-model="prmt.beam.theta"> °
			</div>
		</li>
		<li class="list-group-item row" ng-show="prmt.beam.type == 'molecule'">
			<div class="col-padding col-md-6" align="left">
				<label>Coul. Expl. linear factor (&gamma;)</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<input type="text" class="system-row" ng-model="prmt.coulomb_s_explosion.gamma">
			</div>
		</li>
		<li class="list-group-item row" ng-show="prmt.beam.type == 'molecule'">
			<div class="col-padding col-md-6" align="left">
				<label>Coul. Expl. non-linear factor (&alpha;)</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<input type="text" class="system-row" ng-model="prmt.coulomb_s_explosion.alpha">
			</div>
		</li>
		<li class="list-group-item row" ng-show="prmt.beam.type == 'molecule'">
			<div class="col-padding col-md-6" align="left">
				<label>Energy stopping ratio (dE/dx)</label>
			</div>
			<div class="col-padding  col-md-6" align="left">
				<input type="text" class="system-row" ng-model="prmt.coulomb_s_explosion.ratio">
			</div>
		</li>
	</ul>
</form>
{% endraw %}
