<!-- GROUP CALCULATION -->
{% raw %}
<form name="status.calcForm" ng-show="status.systemPane.selected == 1">
	<ul class="list-group">
		<li class="list-group-item row" ng-hide="prmt.header.mode == 'NRA/P'">
			<div class="col-padding col-md-6" align="left">
				<label>Line Shape</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<div class="btn-group" align="center">
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.simulation.line_s_shape" uib-btn-radio="'gauss'">Gaussian</button>
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.simulation.line_s_shape" uib-btn-radio="'EMG'">Exp. Mod. Gauss.</button>
				</div>
			</div>
		</li>
		<li class="list-group-item row" ng-hide="prmt.header.mode == 'NRA/P'">
			<div class="col-padding col-md-6" align="left">
				<label>Cross Section</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<div class="btn-group" align="center">
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.simulation.cross_s_section" uib-btn-radio="'Rutherford'">Rutherford</button>
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.simulation.cross_s_section" uib-btn-radio="'correc'">Corrected</button>
				</div>
			</div>
		</li>
		<li class="list-group-item row" ng-hide="prmt.header.mode == 'ERBS'">
			<div class="col-padding col-md-6" align="left">
				<label>Energy Stopping</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<div class="btn-group" align="center">
					<button type="button" class="btn btn-sm btn-default disabled" ng-model="prmt.calculations.stopping" uib-btn-radio="'off'">Off</button>
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.calculations.stopping" uib-btn-radio="'stop96'">SRIM</button>
				</div>
			</div>
		</li>
		<li class="list-group-item row" ng-hide="prmt.header.mode == 'ERBS'">
			<div class="col-padding col-md-6" align="left">
				<label>Energy Straggling</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<div class="btn-group" align="center">
					<button type="button" class="btn btn-sm btn-default disabled" ng-model="prmt.calculations.straggling" uib-btn-radio="'off'">Off</button>
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.calculations.straggling" uib-btn-radio="'Bohr'">Bohr</button>
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.calculations.straggling" uib-btn-radio="'Lind'">Lindhard</button>
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.calculations.straggling" uib-btn-radio="'Chu'">Chu</button>
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.calculations.straggling" uib-btn-radio="'Yang'">Yang</button>
				</div>
			</div>
		</li>
		<li class="list-group-item row" ng-show="prmt.header.mode == 'MEIS'">
			<div class="col-padding col-md-6" align="left">
				<label>Charge Neutralization</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<div class="btn-group" align="center">
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.calculations.neutralization" uib-btn-radio="'off'">Off</button>
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.calculations.neutralization" uib-btn-radio="'Marion'">Marion</button>
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.calculations.neutralization" uib-btn-radio="'CasP'">CasP</button>
				</div>
			</div>
		</li>
		<li class="list-group-item row" ng-show="prmt.header.mode == 'ERBS'">
			<div class="col-padding col-md-6" align="left">
				<label>Dielectric Function</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<div class="btn-group" align="center">
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.calculations.dielec_s_function" uib-btn-radio="'off'">Off</button>
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.calculations.dielec_s_function" uib-btn-radio="'Lindhard'">Lindhard</button>
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.calculations.dielec_s_function" uib-btn-radio="'Mermin'">Mermin</button>
				</div>
			</div>
		</li>
		<li class="list-group-item row" ng-hide="prmt.calculations.dielec_s_function == 'off'">
			<div class="col-padding col-md-6" align="left">
				<label>ELF &delta;E</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<input type="text" class="system-row" ng-model="prmt.calculations.dielec_s_dE"> eV
			</div>
		</li>
		<li class="list-group-item row" ng-hide="prmt.calculations.dielec_s_function == 'off'">
			<div class="col-padding col-md-6" align="left">
				<label>ELF &omega;<sub>max</sub></label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<input type="text" class="system-row" ng-model="prmt.calculations.dielec_s_wmax"> eV
			</div>
		</li>
		<li class="list-group-item row" ng-hide="prmt.calculations.dielec_s_function == 'off'">
			<div class="col-padding col-md-6" align="left">
				<label>ELF q<sub>max</sub></label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<input type="text" class="system-row" ng-model="prmt.calculations.dielec_s_qmax"> &#8463;/a<sub>0</sub>
			</div>
		</li>
	</ul>
</form>
{% endraw %}
