<!-- GROUP COMPOUNDS -->
{% raw %}
<form name="status.compForm" ng-show="status.samplePane.selected == 1">
	<table class="table table-striped table-sm">
		<thead>
			<tr class="trwidth">
				<th colspan="12" align="center" class="row">
					<div class="col-md-1 nopadcol" align="center">#</div>
					<div class="col-md-1 nopadcol" align="center">&nbsp;</div>
					<div class="col-md-3 padcol" align="center">Name</div>
					<div class="col-md-1 nopadcol" align="center">&nbsp;</div>
					<div class="col-md-4 padcol" align="center">Density (g/cm³)</div>
					<div class="col-md-1 nopadcol" align="center">&nbsp;</div>
					<div class="col-md-1 nopadcol" align="center">&nbsp;</div>
				</th>
			</tr>
		</thead>
		<tbody class="sampleTable">
			<tr ng-repeat="iCp_str in range(prmt.header.nCp)" class="trwidth">
				<td colspan="12" align="center" class="row">
					<div class="col-md-1 nopadcol" align="center">
						{{iCp_str}}
					</div>
					<div class="col-md-1 padcol" align="left">
						<div>
							<span role="button" class="col-md-12 nopadcol glyphicon glyphicon-chevron-up" ng-class="{'unclickable': iCp_str == '1'}" ng-click="switch_line('compound', iCp_str, -1)"></span> 
							<span role="button" class="col-md-12 nopadcol glyphicon glyphicon-chevron-down" ng-class="{'unclickable': iCp_str == prmt.header.nCp}" ng-click="switch_line('compound', iCp_str, +1)"></span>
						</div>
					</div>
					<div class="col-md-3 padcol" align="center">
						<input type="text" ng-model="prmt['compound_s_'+iCp_str].name">
					</div>
					<div class="col-md-1 padcol" align="center">
						&nbsp;
					</div>
					<div class="col-md-4 padcol" align="center">
						<input type="text" ng-model="prmt['compound_s_'+iCp_str].density">
					</div>
					<div class="col-md-1 nopadcol" align="center">
						<span role="button" class="list-expand glyphicon glyphicon-resize-full" ng-click="status.samplePane.comp_selected = iCp_str" ng-show="status.samplePane.comp_selected != iCp_str"></span>
						<span role="button" class="list-expand glyphicon glyphicon-resize-small" ng-click="status.samplePane.comp_selected = null" ng-show="status.samplePane.comp_selected == iCp_str"></span>
					</div>
					<div class="col-md-1 nopadcol" align="center">
						<span role="button" ng-click="destroy_compound(iCp_str)">&#10006;</span>
					</div>

					<div ng-show="status.samplePane.comp_selected == iCp_str">
						&nbsp;
						<div class="panel panel-default insetTable">
							<table class="table table-striped">
								<thead>
									<tr class="trwidth">
										<th colspan="12" align="center" class="row">
											<div class="col-md-6" align="left">Element</div>
											<div class="col-md-6" align="left">Stoichiometry</div>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="iEl_str in range(prmt.header.nEl)" class="trwidth">
										<td colspan="12" align="center" class="row">
											<div class="col-md-6" align="left">
												{{prmt['element_s_'+iEl_str].name}}
											</div>
											<div class="col-md-6" align="left">
												<input type="text" class="second-row" ng-model="prmt['compound_s_'+iCp_str]['_p_element_s_'+iEl_str]">
											</div>
										</td>
									</tr>
									<tr ng-hide="prmt.header.nEl != 0" class="trwidth">
										<td colspan="12" align="center">
											<font color="red" align="center">No elements added!</font>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="panel panel-default insetTable" ng-show="prmt.header.mode == 'MEIS'">
							<div class="panel-heading"><strong>Inelastic energy loss correction</strong></div>
							<div class="row thinline" align="center">
								<div class="col-md-6 padcol">
									<label>d&omega;²/dx ratio</label> 
								</div>
								<div class="col-md-6 padcol">
									<input type="text" class="second-row" ng-model="prmt['compound_s_'+iCp_str].dwdx_s_corr">
								</div>
							</div>
							<div class="row thinline" align="center">
								<div class="col-md-6 padcol">
									<label>dE/dx ratio</label> 
								</div>
								<div class="col-md-6 padcol">
									<input type="text" class="second-row" ng-model="prmt['compound_s_'+iCp_str].dEdx_s_corr">
								</div>
							</div>
						</div>
						<div class="panel panel-default insetTable" ng-show="prmt.header.mode == 'ERBS'">
							<table class="table table-striped">
								<thead>
									<tr class="trwidth">
										<th colspan="12" align="center" class="row">
											<div class="col-md-1 nopadcol" align="center">#</div>
											<div class="col-md-1 nopadcol" align="center">&nbsp;</div>
											<div class="col-md-2 padcol" align="center">A</div>
											<div class="col-md-1 nopadcol" align="center">&nbsp;</div>
											<div class="col-md-2 padcol" align="center">&omega; (eV)</div>
											<div class="col-md-1 nopadcol" align="center">&nbsp;</div>
											<div class="col-md-2 padcol" align="center">&Gamma; (eV)</div>
											<div class="col-md-1 nopadcol" align="center">&nbsp;</div>
											<div class="col-md-1 nopadcol" align="center">&nbsp;</div>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="iPl_str in range(prmt['compound_s_'+iCp_str].nPlasmons)" class="trwidth">
										<td colspan="12" align="center" class="row">
											<div class="col-md-1" align="left">
												{{iPl_str}}
											</div>
											<div class="col-md-1" align="left"></div>
											<div class="col-md-2" align="left">
												<input type="text" ng-model="prmt['compound_s_'+iCp_str]['plasmon_s_'+iPl_str+'_s_A']">
											</div>
											<div class="col-md-1" align="left"></div>
											<div class="col-md-2" align="left">
												<input type="text" ng-model="prmt['compound_s_'+iCp_str]['plasmon_s_'+iPl_str+'_s_w0']">
											</div>
											<div class="col-md-1" align="left"></div>
											<div class="col-md-2" align="left">
												<input type="text" ng-model="prmt['compound_s_'+iCp_str]['plasmon_s_'+iPl_str+'_s_gamma']">
											</div>
											<div class="col-md-1" align="left"></div>
											<div class="col-md-1 nopadcol" align="center">
												<span role="button" ng-click="destroy_plasmon(iCp_str, iPl_str)">&#10006;</span>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="addButtonDiv" style="margin-bottom:10px;" align="center">
								<button class="btn btn-warning" style="width:30%;" type="button" ng-click="create_plasmon(iCp_str)">Add Plasmon</button>
							</div>
						</div>
					</div>

				</td>
			</tr>
		</tbody>
	</table>
	<div class="addButtonDiv" align="center">
		<button class="btn btn-primary" style="width:50%;" type="button" ng-click="create_compound()">Add Compound</button>
	</div>
</form>


{% endraw %}
