<!-- GROUP DETECTOR -->
{% raw %}
<form name="status.calcForm" ng-show="status.systemPane.selected == 4">
	<ul class="list-group">
		<li class="list-group-item row" ng-show="prmt.header.mode == 'MEIS'">
			<div class="col-padding col-md-6" align="left">
				<label>Detector type</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<div class="btn-group" align="center">
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.detector.type" uib-btn-radio="'electro'">Electrostatic</button>
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.detector.type" uib-btn-radio="'TOF'">Time of Flight</button>
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.detector.type" uib-btn-radio="'magnetic'">Magnetic</button>
				</div>
			</div>
		</li>
		<li class="list-group-item row">
			<div class="col-padding col-md-6" align="left">
				<label>Energy resolution FWHM (&delta;E)</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<input type="text" class="system-row" ng-model="prmt.detector.resolution"> eV
			</div>
		</li>
		<li class="list-group-item row">
			<div class="col-padding col-md-6" align="left">
				<label>Scattering angle (&Theta;)</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<input type="text" class="system-row" ng-model="prmt.detector.Y0"> °
			</div>
		</li>
		<li class="list-group-item row" ng-show="prmt.header.mode == 'MEIS'">
			<div class="col-padding col-md-6" align="left">
				<label>Angular width (&Delta;&Theta;)</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<input type="text" class="system-row" ng-model="prmt.detector.LY"> °
			</div>
		</li>
		<li class="list-group-item row" ng-show="prmt.detector.type == 'TOF'">
			<div class="col-padding col-md-6" align="left">
				<label>TOF length (L)</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<input type="text" class="system-row" ng-model="prmt.detector.TOF_s_distance"> m
			</div>
		</li>
		<li class="list-group-item row" ng-show="prmt.detector.type == 'TOF'">
			<div class="col-padding col-md-6" align="left">
				<label>Time resolution (&delta;t)</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<input type="text" class="system-row" ng-model="prmt.detector.TOF_s_resolution"> ns
			</div>
		</li>
		<li class="list-group-item row" ng-show="prmt.detector.type == 'TOF'">
			<div class="col-padding col-md-6" align="left">
				<label>Out of plane angle (&alpha;)</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<input type="text" class="system-row" ng-model="prmt.detector.X0"> °
			</div>
		</li>
		<li class="list-group-item row" ng-show="prmt.detector.type == 'TOF'">
			<div class="col-padding col-md-6" align="left">
				<label>Out of plane angular width (&Delta;&alpha;)</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<input type="text" class="system-row" ng-model="prmt.detector.LX"> °
			</div>
		</li>
	</ul>
</form>
{% endraw %}
