<!-- GROUP ELEMENTS -->
{% raw %}
<form name="status.elemForm" ng-show="status.samplePane.selected == 0">
	<table class="table table-striped table-sm">
		<thead>
			<tr class="trwidth">
				<th colspan="12" align="center" class="row">
					<div class="col-md-1 nopadcol" align="center">#</div>
					<div class="col-md-1 nopadcol" align="center">&nbsp;</div>
					<div class="col-md-3 padcol" align="center">Name</div>
					<div class="col-md-2 padcol" align="center">Z</div>
					<div class="col-md-3 padcol" align="center">M (amu)</div>
					<div class="col-md-1 nopadcol" align="center">&nbsp;</div>
					<div class="col-md-1 nopadcol" align="center">&nbsp;</div>
				</th>
			</tr>
		</thead>
		<tbody class="sampleTable">
			<tr ng-repeat="iEl_str in range(prmt.header.nEl)" class="trwidth">
				<td colspan="12" align="center" class="row">
					<div class="col-md-1 nopadcol" align="center">
						{{iEl_str}}
					</div>
					<div class="col-md-1 padcol" align="left">
						<div>
							<span role="button" class="col-md-12 nopadcol glyphicon glyphicon-chevron-up" ng-class="{'unclickable': iEl_str == '1'}" ng-click="switch_line('element', iEl_str, -1)"></span> 
							<span role="button" class="col-md-12 nopadcol glyphicon glyphicon-chevron-down" ng-class="{'unclickable': iEl_str == prmt.header.nEl}" ng-click="switch_line('element', iEl_str, +1)"></span>
						</div>
					</div>
					<div class="col-md-3 padcol" align="center">
						<input type="text" ng-model="prmt['element_s_'+iEl_str].name">
					</div>
					<div class="col-md-2 padcol" align="center">
						<input type="text" ng-model="prmt['element_s_'+iEl_str].Z">
					</div>
					<div class="col-md-3 padcol" align="center">
						<input type="text" ng-model="prmt['element_s_'+iEl_str].M">
					</div>
					<div class="col-md-1 nopadcol" align="center">
						<span role="button" class="list-expand glyphicon glyphicon-resize-small" ng-click="status.samplePane.elem_selected = null" ng-show="status.samplePane.elem_selected == iEl_str"></span>
						<span role="button" class="list-expand glyphicon glyphicon-resize-full" ng-click="status.samplePane.elem_selected = iEl_str" ng-show="status.samplePane.elem_selected != iEl_str"></span>
					</div>
					<div class="col-md-1 nopadcol" align="center">
						<span role="button" ng-click="destroy_element(iEl_str)">&#10006;</span>
					</div>

					<div ng-show="status.samplePane.elem_selected == iEl_str">
						&nbsp;
						<div class="panel panel-default insetTable" ng-show="prmt.header.mode == 'MEIS'">
							<div class="panel-heading"><strong>Additional Parameters</strong></div>
							<div class="row thinline" align="center">
								<div class="col-md-6 padcol">
									<label>&sigma;<sub>0</sub></label>
								</div>
								<div class="col-md-6 padcol">
									<input class="second-row" type="text" ng-model="prmt['element_s_'+iEl_str].sig0"> eV
								</div>
							</div>
						</div>
						<div class="panel panel-default insetTable" ng-show="prmt.header.mode == 'ERBS'">
							<div class="panel-heading"><strong>Additional Parameters</strong></div>
							<div class="row thinline" align="center">
								<div class="col-md-6 padcol">
									<label>E<sub>kin</sub></label>
								</div>
								<div class="col-md-6 padcol">
									<input class="second-row" type="text" ng-model="prmt['element_s_'+iEl_str].Ekin"> eV
								</div>
							</div>
						</div>
						<div class="panel panel-default insetTable" ng-show="prmt.header.mode == 'NRA/P'">
							<div class="panel-heading"><strong>Nuclear Ressonance</strong></div>
							<div class="row thinline" align="center">
								<div class="col-md-6 padcol">
									<label>E<sub>r</sub></label>
								</div>
								<div class="col-md-6 padcol">
									<input class="second-row" type="text" ng-model="prmt['element_s_'+iEl_str].Er_s_mean"> keV
								</div>
							</div>
							<div class="row thinline" align="center">
								<div class="col-md-6 padcol">
									<label>&Delta;E<sub>r</sub></label>
								</div>
								<div class="col-md-6 padcol">
									<input class="second-row" type="text" ng-model="prmt['element_s_'+iEl_str].Er_s_width"> keV
								</div>
							</div>
						</div>
					</div>

				</td>
			</tr>
		</tbody>
	</table>
	<div class="addButtonDiv" align="center">
		<button class="btn btn-primary" style="width:50%;" type="button" ng-click="create_element()">Add Element</button>
	</div>
</form>
{% endraw %}
