<!-- GROUP FILES -->
{% raw %}
<form name="status.filesForm" ng-show="status.systemPane.selected == 5">
	<ul class="list-group">
		<li class="list-group-item row">
			<div class="col-padding col-md-4" align="left">
				<label>Spectrum type</label>
			</div>
			<div class="col-padding col-md-8" align="left">
				<div class="btn-group" align="center">
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.output.type" uib-btn-radio="'1D'">1D Energy</button>
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.output.type" uib-btn-radio="'1D_energyloss'">1D Energy Loss</button>
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.output.type" uib-btn-radio="'2D'">2D Energy/Angle</button>
				</div>
			</div>
		</li>
		<li class="list-group-item row">
			<div class="col-padding col-md-6" align="left">
				<label>Normalization</label>
			</div>
			<div class="col-padding col-md-3" align="left">
				<input type="text" class="system-row" ng-model="prmt['output'].norm" style="width:130px;">
			</div>
			<div class="col-padding col-md-3" align="right">
				<button class="btn btn-primary" type="button" ng-click="calculate_norm()">
					Minimize <span class="glyphicon glyphicon-screenshot"></span>
				</button>
			</div>
		</li>
		<li class="list-group-item row">
			<div class="col-padding col-md-6" align="left">
				<label>&chi;<sup>2</sup><sub>red</sub></label>
				( 
				<input type="text" class="system-row" ng-model="prmt['output'].chi2red_s_xmin">
				 to 
				<input type="text" class="system-row" ng-model="prmt['output'].chi2red_s_xmax"> keV )
			</div>
			<div class="col-padding col-md-3" align="left">
				{{prmt['output'].chi2red}}
			</div>
			<div class="col-padding col-md-3" align="right">
				<button class="btn btn-primary" type="button" ng-click="calculate_chi2()">
					Calculate <span class="glyphicon glyphicon-flash"></span>
				</button>
			</div>
		</li>
	</ul>
	<ul class="list-group">
		<li class="list-group-item row">
			<div class="col-padding col-md-12" align="left">
				<button class="btn btn-primary" type="button" ng-click="open_exp()">
					Upload experimental <span class="glyphicon glyphicon-open"></span>
				</button>
				<input type="file" class="form-control hide" id="open_exp_id" onchange="angular.element(this).scope().open_exp_select(this)"/>
				<label>&nbsp;&nbsp;File name&nbsp;&nbsp;</label>
				{{prmt['expdata_s_1'].file}}
			</div>
		</li>
		<li class="list-group-item row">
			<div class="col-padding col-md-6" align="left">
				<label>Energy channels</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				E = Channel &#215; <input type="text" class="system-row" ng-model="prmt['expdata_s_1'].a"> + 
				 <input type="text" class="system-row" ng-model="prmt['expdata_s_1'].b">
			</div>
		</li>
	</ul>
</form>
{% endraw %}
