<!-- GROUP LAYERS -->
{% raw %}
<form name="status.layerForm" ng-show="status.samplePane.selected == 3">
	<table class="table table-striped table-sm">
		<thead>
			<tr class="trwidth">
				<th colspan="12" align="center" class="row">
					<div class="col-md-1 nopadcol" align="center">#</div>
					<div class="col-md-1 nopadcol" align="center">&nbsp;</div>
					<div class="col-md-3 padcol" align="center">Thickness (&#8491;)</div>
					<div class="col-md-1 padcol" align="center">&nbsp;</div>
					<div class="col-md-4 padcol" align="center">Compound</div>
					<div class="col-md-1 nopadcol" align="center">&nbsp;</div>
					<div class="col-md-1 nopadcol" align="center">&nbsp;</div>
				</th>
			</tr>
		</thead>
		<tbody class="sampleTable">
			<tr class="trwidth thinline">
				<td colspan="12" align="center" class="row" id="surface-layer">
					<div class="col-md-12 nopadcol" align="left">
						<font align="center">&nbsp;&nbsp;&nbsp;Surface</font>
					</div>
				</td>
			</tr>
			<tr ng-repeat="iLa_str in range_inv(prmt.header.nLa)" class="trwidth thinline">
				<td colspan="12" align="center" class="row">
					<div class="col-md-1 nopadcol" align="center">
						{{iLa_str}}
					</div>
					<div class="col-md-1 padcol" align="left">
						<div>
							<span role="button" class="col-md-12 nopadcol glyphicon glyphicon-chevron-up" ng-class="{'unclickable': iLa_str == prmt.header.nLa}" ng-click="switch_line('layer', iLa_str, +1)"></span> 
							<span role="button" class="col-md-12 nopadcol glyphicon glyphicon-chevron-down" ng-class="{'unclickable': iLa_str == '1'}" ng-click="switch_line('layer', iLa_str, -1)"></span>
						</div>
					</div>
					<div class="col-md-3 padcol" align="center">
						<input type="text" ng-model="prmt['layer_s_'+iLa_str].thickness" ng-disabled="isThereMatrixInThisLayer(iLa_str)">
					</div>
					<div class="col-md-1 padcol" align="center">
					</div>
					<div class="col-md-4 padcol" align="center">
						<select
							ng-model="prmt['layer_s_'+iLa_str].compound"
							ng-options="iCp_str as prmt['compound_s_'+iCp_str].name for iCp_str in range(prmt.header.nCp)" ng-disabled="isThereMatrixInThisLayer(iLa_str)"
							id="layer-select-compound">
						</select>
					</div>
					<div class="col-md-1 nopadcol" align="center">
						<span role="button" class="list-expand glyphicon glyphicon-resize-full" ng-click="status.samplePane.layer_selected = iLa_str" ng-show="status.samplePane.layer_selected != iLa_str"></span>
						<span role="button" class="list-expand glyphicon glyphicon-resize-small" ng-click="status.samplePane.layer_selected = null" ng-show="status.samplePane.layer_selected == iLa_str"></span>
					</div>
					<div class="col-md-1 nopadcol" align="center">
						<span role="button" ng-click="destroy_layer(iLa_str)">&#10006;</span>
					</div>

					<div ng-show="status.samplePane.layer_selected == iLa_str">
						&nbsp;
						<div class="panel panel-default insetTable">
							<table class="table table-striped">
								<thead>
									<tr class="trwidth">
										<th colspan="12" align="center" class="row">
											<div class="col-md-6" align="left">Matrix file</div>
											<div class="col-md-6" align="left">Fraction</div>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="iMt_str in range(prmt.header.nMt)" class="trwidth">
										<td colspan="12" align="center" class="row">
											<div class="col-md-6" align="left">
												{{prmt['matrix_s_'+iMt_str].file}}
											</div>
											<div class="col-md-6" align="left">
												<input type="text" class="second-row" ng-model="prmt['layer_s_'+iLa_str]['_p_matrix_s_'+iMt_str]">
											</div>
										</td>
									</tr>
									<tr ng-hide="prmt.header.nMt != 0" class="trwidth">
										<td colspan="12" align="center">
											<font color="red" align="center">No matrices added!</font>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="panel panel-default insetTable">
							<div class="panel-heading"><strong>Boundary conditions</strong></div>
							<div class="row thinline" align="center">
								<div class="col-md-6 padcol">
									<label>Per. Contour</label> 
								</div>
								<div class="col-md-6 padcol">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-default second-row" ng-model="prmt['layer_s_'+iLa_str].periodic_s_contourn" ng-disabled="!isThereMatrixInThisLayer(iLa_str)" uib-btn-radio="'yes'">Yes</button>
										<button type="button" class="btn btn-sm btn-default second-row" ng-model="prmt['layer_s_'+iLa_str].periodic_s_contourn" ng-disabled="!isThereMatrixInThisLayer(iLa_str)" uib-btn-radio="'no'">No</button>
									</div>
								</div>
							</div>
							<div class="row thinline" align="center">
								<div class="col-md-6 padcol">
									<label>Per. Position</label> 
								</div>
								<div class="col-md-6 padcol">
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-default second-row" ng-model="prmt['layer_s_'+iLa_str].periodic_s_position" ng-disabled="!isThereMatrixInThisLayer(iLa_str)" uib-btn-radio="'yes'">Yes</button>
										<button type="button" class="btn btn-sm btn-default second-row" ng-model="prmt['layer_s_'+iLa_str].periodic_s_position" ng-disabled="!isThereMatrixInThisLayer(iLa_str)" uib-btn-radio="'no'">No</button>
									</div>
								</div>
							</div>
						</div>
						<!--
						<div class="panel panel-default insetTable" ng-show="status.samplePane.layer_selected == iLa_str">
							<div class="panel-heading"><strong>Voxel size</strong></div>
							<div class="row thinline" align="center">
								<div class="col-md-4 padcol">
									<label>dL<sub>x</sub> (&#8491;)</label> 
									<input type="text" class="second-row" ng-model="prmt['layer_s_'+iLa_str].dLx" ng-disabled="!isThereMatrixInThisLayer(iLa_str)">
								</div>
								<div class="col-md-4 padcol">
									<label>dL<sub>y</sub> (&#8491;)</label> 
									<input type="text" class="second-row" ng-model="prmt['layer_s_'+iLa_str].dLy" ng-disabled="!isThereMatrixInThisLayer(iLa_str)">
								</div>
								<div class="col-md-4 padcol">
									<label>dL<sub>z</sub> (&#8491;)</label> 
									<input type="text" class="second-row" ng-model="prmt['layer_s_'+iLa_str].dLz" ng-disabled="!isThereMatrixInThisLayer(iLa_str)">
								</div>
							</div>
						</div>
						-->
					</div>

				</td>
			</tr>
			<tr class="trwidth thinline">
				<td colspan="12" align="center" class="row" id="bulk-layer">
					<div class="col-md-12 nopadcol" align="left">
						<font align="center">&nbsp;&nbsp;&nbsp;Bulk</font>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="addButtonDiv" align="center">
		<button class="btn btn-primary" style="width:50%;" type="button" ng-click="create_layer()">Add Layer</button>
	</div>
</form>
{% endraw %}
