<!-- GROUP MATRICES -->
{% raw %}
<form name="status.matrixForm" ng-show="status.samplePane.selected == 2">
	<table class="table table-striped table-sm">
		<thead>
			<tr class="trwidth">
				<th colspan="12" align="center" class="row">
					<div class="col-md-1 nopadcol" align="center">#</div>
					<div class="col-md-1 nopadcol" align="center">&nbsp;</div>
					<div class="col-md-2 padcol" align="center">Upload</div>
					<div class="col-md-5 padcol" align="center">File</div>
					<div class="col-md-1 nopadcol" align="center">&nbsp;</div>
					<div class="col-md-1 nopadcol" align="center">&nbsp;</div>
					<div class="col-md-1 nopadcol" align="center">&nbsp;</div>
				</th>
			</tr>
		</thead>
		<tbody class="sampleTable">
			<tr ng-repeat="iMt_str in range(prmt.header.nMt)" class="trwidth">
				<td colspan="12" align="center" class="row">
					<div class="col-md-1 nopadcol" align="center">
						{{iMt_str}}
					</div>
					<div class="col-md-1 padcol" align="left">
						<div>
							<span role="button" class="col-md-12 nopadcol glyphicon glyphicon-chevron-up" ng-class="{'unclickable': iMt_str == '1'}" ng-click="switch_line('matrix', iMt_str, -1)"></span>
							<span role="button" class="col-md-12 nopadcol glyphicon glyphicon-chevron-down" ng-class="{'unclickable': iMt_str == prmt.header.nMt}" ng-click="switch_line('matrix', iMt_str, +1)"></span>
						</div>
					</div>
					<div class="col-md-2 padcol" align="center">
						<input type="file" class="hide" id="upload_matrix_{{iMt_str}}" onchange="angular.element(this).scope().upload_matrix_select(this)"/>
						<span role="button" ng-click="upload_matrix(iMt_str)" class="glyphicon glyphicon-open"></span>
					</div>
					<div class="col-md-5 padcol" align="center">
						{{prmt['matrix_s_'+iMt_str].file}}
					</div>
					<div class="col-md-1 padcol" align="center">
						<span role="button" class="glyphicon glyphicon-eye-open" ng-click="visualize_matrix(iMt_str, files['matrix_s_'+iMt_str].text)"></span>
					</div>
					<div class="col-md-1 nopadcol" align="center">
						<span role="button" class="list-expand glyphicon glyphicon-resize-full" ng-click="status.samplePane.matrix_selected = iMt_str" ng-show="status.samplePane.matrix_selected != iMt_str"></span>
						<span role="button" class="list-expand glyphicon glyphicon-resize-small" ng-click="status.samplePane.matrix_selected = null" ng-show="status.samplePane.matrix_selected == iMt_str"></span>
					</div>
					<div class="col-md-1 nopadcol" align="center">
						<span role="button" ng-click="destroy_matrix(iMt_str)">&#10006;</span>
					</div>

					<div ng-show="status.samplePane.matrix_selected == iMt_str">
						&nbsp;
						<div class="panel panel-default insetTable">
							<div class="panel-heading"><strong>Dimensions and orientation</strong></div>
							<div class="row thinline" align="center">
								<div class="col-md-3 padcol">
									<label>n<sub>x</sub></label> <input type="text" class="second-row" ng-model="prmt['matrix_s_'+iMt_str].nx">
								</div>
								<div class="col-md-3 padcol">
									<label>n<sub>y</sub></label> <input type="text" class="second-row" ng-model="prmt['matrix_s_'+iMt_str].ny">
								</div>
								<div class="col-md-3 padcol">
									<label>n<sub>z</sub></label> <input type="text" class="second-row" ng-model="prmt['matrix_s_'+iMt_str].nz">
								</div>
								<div class="col-md-3 padcol">
									<label>&phi;</label> <input type="text" class="second-row" ng-model="prmt['matrix_s_'+iMt_str].phi">
								</div>
							</div>
						</div>
						&nbsp;
						<div class="panel panel-default insetTable">
							<div class="panel-heading"><strong>Matrix generation script</strong></div>
							<div class="row thinline" align="center">
								<div class="col-md-4 padcol">
									<label>Name</label> <input type="text" style="width:100%" class="second-row" ng-model="prmt['matrix_s_'+iMt_str].matgen_s_name">
								</div>
								<div class="col-md-8 padcol">
									<label>Attributes</label> <input type="text" style="width:100%" class="second-row" ng-model="prmt['matrix_s_'+iMt_str].matgen_s_attr">
								</div>
							</div>
						</div>
						<!--
						<div class="panel panel-default insetTable">
							<div class="panel-heading"><strong>Additional Parameters</strong></div>
							<div class="row thinline" align="center">
								<div class="col-md-6 padcol">
									<label>dCp</label>
								</div>
								<div class="col-md-6 padcol">
									<input type="text" class="second-row" ng-model="prmt['matrix_s_'+iMt_str].dCp">
								</div>
							</div>
						</div>
						-->
					</div>

				</td>
			</tr>
		</tbody>
	</table>
	<div class="addButtonDiv" align="center">
		<button class="btn btn-primary" style="width:50%;" type="button" ng-click="create_matrix()">Add Matrix</button>
	</div>
</form>

{% endraw %}
