<div class="container">
	<ul class="nav navbar-nav">
		<li align="center">
			{% raw %}
			<a class="a-mode-navbar dropdown-toggle" data-toggle="dropdown" href="#" role="button"> {{prmt.header.mode}} <span class="caret"></span></a>
			{% endraw %}
			<ul class="dropdown-menu">
				<li align="left"><a class="a-mode-dropdown" role="button" ng-click="select_MEIS()">MEIS</a></li>
				<li align="left"><a class="a-mode-dropdown" role="button" ng-click="select_RBS()">RBS</a></li>
				<li align="left"><a class="a-mode-dropdown" role="button" ng-click="select_NRAP()">NRA/P</a></li>
				<li align="left"><a class="a-mode-dropdown" role="button" ng-click="select_ERBS()">ERBS</a></li>
			</ul>
		</li>
		<a class="navbar-brand a-navbar">&nbsp;&nbsp;<span class="glyphicon glyphicon-option-vertical a-navbar" role="text"></span></a>
		<li align="center"><a class="glyphicon glyphicon-file a-navbar" role="button" ng-click="new_cpm()"> New</a></li>
		<li align="center"><a class="glyphicon glyphicon-open a-navbar" role="button" ng-click="open_cpm()"> Open</a></li>
		<li align="center"><a class="glyphicon glyphicon-save a-navbar" role="button" ng-click="save_cpm()"> Save</a></li>
		<input type="file" class="hide" id="open_cpm_id" onchange="angular.element(this).scope().open_cpm_select(this)"/>

	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li  ng-show="progbar.message == 'Standby'" align="center">
			<a class="glyphicon glyphicon-play a-navbar" role="button" ng-click="start_stop_simulation()"> Start</a>
		</li>
		<li  ng-hide="progbar.message == 'Standby'" align="center">
			<a class="glyphicon glyphicon-stop a-navbar" role="button" ng-click="start_stop_simulation()"> Stop</a>
		</li>
		<li>
			{% raw %}
			<p class="navbar-text p-navbar" align="center">{{progbar.message}}</p>
			{% endraw %}
		</li>
	</ul>
</div>
{% raw %}
<div class="progress container" id="progress-outside">
	<div class="progress-bar progress-bar-primary" id="progress-inside" role="progressbar" style="width: {{progbar.width}}px;"></div>
</div>
{% endraw %}

<!--
<script type="text/ng-template" id="save_simulation_box.html">
	<div class="modal-header">
		<h3 class="modal-title">Save simulation spectrum</h3>
	</div>
	<div class="modal-body">
		<label>File name</label>
		<input type="text" class="form-control" ng-model="save_simulation_filename"/>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="save_simulation_save()">Save</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
		<a id="anchor_for_simulation_save" ></a>
	</div>
</script>
-->

<script type="text/ng-template" id="save_cpm_box.html">
	<div class="modal-header">
		<h3 class="modal-title">Save cpm</h3>
	</div>
	<div class="modal-body">
		<label>File name</label>
		<input type="text" class="form-control" ng-model="save_zip_filename"/>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="save_cpm_save()">Save</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
		<a id="anchor_for_cpm_save" ></a>
	</div>
</script>

<!-- fix for the navbar padding
<script>
	$(document).ready(function(){
		$(document.body).css('padding-top', $('#topnavbar').height() + 10);
		$(window).resize(function(){
			$(document.body).css('padding-top', $('#topnavbar').height() + 10);
		});
	});
</script>
 -->
