<!-- GROUP ALGORITHM -->
{% raw %}
<form name="status.outpForm" ng-show="status.systemPane.selected == 2">
	<ul class="list-group">
		<li class="list-group-item row">
			<div class="col-padding col-md-6" align="left">
				<label>Histogram mode </label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<div class="btn-group" align="center">
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.output.histogram" uib-btn-radio="'simple'">Simple</button>
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.output.histogram" uib-btn-radio="'element'">Elements</button>
					<button type="button" class="btn btn-sm btn-default" ng-model="prmt.output.histogram" uib-btn-radio="'compound'">Compounds</button>
				</div>
			</div>
		</li>
		<li class="list-group-item row">
			<div class="col-padding col-md-6" align="left">
				<label>Energy channel width (dE)</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<input type="text" class="system-row" ng-model="prmt.output.dEnergy"> keV
			</div>
		</li>
		<li class="list-group-item row">
			<div class="col-padding col-md-6" align="left">
				<label>Angular channel width (d&theta;)</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<input type="text" class="system-row" ng-model="prmt.output.dAngle"> °
			</div>
		</li>
		<li class="list-group-item row" ng-hide="prmt.header.mode == 'NRA/P'">
			<div class="col-padding col-md-6" align="left">
				<label>Minimum energy (E<sub>min</sub>)</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<input type="text" class="system-row" ng-model="prmt.output.Emin"> keV
			</div>
		</li>
		<li class="list-group-item row" ng-hide="prmt.header.mode == 'NRA/P'">
			<div class="col-padding col-md-6" align="left">
				<label>Maximum energy (E<sub>max</sub>)</label>
			</div>
			<div class="col-padding col-md-6" align="left">
				<input type="text" class="system-row" ng-model="prmt.output.Emax"> keV
			</div>
		</li>
	</ul>
</form>
{% endraw %}
