/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
.footer {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	/* Set the fixed height of the footer here */
	height: 50px;
	border-top: 1px solid #e8e8e8;
	background:#fff;
}
.logo {
	width:60px;
	height:45px;
}
