html{
    max-width: 100%;
	padding: 0px;
}

body{
	padding-top: 60px;
	background: #f7f7f9;
	max-width: 1400px;
	margin: auto;
}

/* -------------------------------------------------------------------------------------------- */
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    background-color: rgb(51, 122, 183);
    /* color: #FFC0CB; */
}
.navbar-pm3{
	position: fixed;
	background:#2d3e63;
	width:100%;
	border: 0px;
}
a.a-navbar{
	color:#fff;
	font-family: Verdana, sans-serif;
}
a.a-mode-navbar{
	color:#fff;
	font-family: Verdana, sans-serif;
	font-size: x-large;
}
a.a-mode-dropdown{
	font-family: Verdana, sans-serif;
	font-size: large;
}
p.p-navbar{
	width: 150px;
	color:#fff;
	font-weight: bold;
	font-family: Verdana, sans-serif;
	font-size: medium;
}
.glyphicon {
    font-family: inherit;
}
.glyphicon:before{
    font-family:'Glyphicons Halflings';
}

.navbar-playbutton{
	width:100px;
	background-color: #fff;
	border-color: #000;
}

#progress-outside{
	height: 10px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	border-radius: 0px;
}
#progress-inside{
	height: 10px;
}

.nav-link{
	color: #000;
}

/* -------------------------------------------------------------------------------------------- */

#main-panes{
	padding: 0px;
	height: 100%;
	top: 70px;
	margin-bottom: 60px;
}

.left-col { 
	padding: 5px;
	width: 66.666666%;
}
.right-col { 
	padding: 5px;
	width: 33.333333%;
}

/* -------------------------------------------------------------------------------------------- */

#graphPane {
	border: 1px solid #e8e8e8;
	padding: 0px;
	background:#fff;
}
#livegraph {
	height: 450px;
	width: 100%;
	margin: 0px;
}

/* -------------------------------------------------------------------------------------------- */

#samplePane {
	width: 100%;
	border: 1px solid #e8e8e8;
	padding: 10px;
	background:#fff;
}

.sampleTable{
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.insetTable{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

thead, tbody { 
	display: block;
}

tbody td, thead th {
	width: 1%;
}

.table{
	margin-bottom: 0px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 8px;
	padding-bottom: 2px;
}

#surface-layer{
	line-height: 8px;
	padding-bottom: 8px;
	background: rgba(60, 227, 239, 0.34);
}

#bulk-layer{
	line-height: 8px;
	padding-bottom: 8px;
	background: rgba(47, 29, 6, 0.34);
}

#layer-select-compound{
	min-width:80px;
}

.list-group {
	margin-bottom: 5px;
}

.mtx-list-group {
	margin-top: 5px;
	width: 80%;
}

.trwidth {
	width: 100%;
}

.nopadcol {
	padding: 0px;
}
.padcol {
	padding : 2px;
}

.addButtonDiv{
	margin-top: 10px;
	width: 100%;
}

.thinline {
	line-height: 20px;
	padding-top: 0px; 
	padding-bottom: 0px; 
	padding-left: 10px; 
	padding-right: 10px; 
	margin: 0px;
}

span.unclickable  { text-decoration: none; color: #a9a9a9;}
span.unclickable:hover { cursor: default; }

/* -------------------------------------------------------------------------------------------- */

#systemPane {
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 0px;
	left: 0px;
	right: 0px;
	border: 1px solid #e8e8e8;
	padding: 10px;
	background:#fff;
}

/* -------------------------------------------------------------------------------------------- */

#filesPane {
	left: 0px;
	right: 0px;
	border: solid #f7f7f9;
	padding: 10px;
}

.filesTable{
	width: 100%;
	height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
}

/* -------------------------------------------------------------------------------------------- */

/* Overrides input from Bootstrap */ 
input {
	width:100%;
	height: 20px;
	font-size: 14px;
	line-height: 20px;
	padding: 0px;
}

.second-row{
	width:50px;
}

.system-row{
	width:60px;
}

/* -------------------------------------------------------------------------------------------- */


/* Close Button */
.close-btn {
	color: #777;
	font: 14px/100% arial, sans-serif;
	position: absolute;
	right: 1px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	top: 1px;
}

.list-number{
	color: #777;
	font: 14px/100% arial, sans-serif;
	position: absolute;
	left: 1px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	top: 1px;
}

.list-expand {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 16px;
}

/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */

@media(max-height: 768px)
{
	.sampleTable{
		width: 100%;
		max-height: 500px;
		overflow-y: auto;
		overflow-x: hidden;
	}
}

@media(max-width: 1200px){
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9{
		float: left;
	}
	.col-md-1{width: 8.3333333%;}
	.col-md-2{width: 16.6666666%;}
	.col-md-3{width: 25%;}
	.col-md-4{width: 33.3333333%;}
	.col-md-5{width: 31.6666666%;}
	.col-md-6{width: 50%;}
	.col-md-7{width: 58.3333333%;}
	.col-md-8{width: 66.6666666%;}
	.col-md-9{width: 75%;}
	.col-md-10{width: 83.3333333%;}
	.col-md-11{width: 91.6666666%;}
	.col-md-12{width: 100%;}

	.left-col, .right-col { 
		width: 100%;
	}
}
