<!DOCTYPE html>

<title>powerMEIS Simulations</title>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css')}}" />
	<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
</head>

<body style="background: #f7f7f9;">
	<div id="main" class="container">
		<h1 align="center">TARS Server</h1>
		<div class="row" style="padding-top:100px">
			<div class="col-md-offset-4 col-md-4">
				<div class="entry">
					<a class="thumbnail" href="/pm3" title="powerMEIS Simulation">
						<img src="{{ url_for('static', filename='icons/cpu.svg')}}"/>
					</a>
					<div class="entry-content">
						<h4 align="center" class="entry-title">
							<a href="/pm3">powerMEIS</a>
						</h4>
					</div>
				</div>
			</div>
			<!--
			<div class="col-md-4">
				<div class="entry">
					<a class="thumbnail" href="/rrt" title="RRT form">
						<img src="{{ url_for('static', filename='icons/connected.svg')}}"/>
					</a>
					<div class="entry-content">
						<h4 align="center" class="entry-title">
							<a href="/rrt">RRT Form</a>
						</h4>
					</div>
				</div>
			</div>
			-->
		</div>
	</div>

</body>

{% include "footer.html" %}

</html>
