<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="App" lang="en">

<title>powerMEIS Simulations</title>

<head>
	<!-- MOBILE -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CDN for all libraries
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>

	LOCAL repos for all libraries-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" />

	<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css')}}" />
	<!--
	<link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css')}}" />
	-->

	<link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css')}}" />
	<script src="{{ url_for('static', filename='js/loader.js')}}"></script>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/pm3.css')}}" />

	<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>

	<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/angular.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/angular-animate.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/angular-route.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/angular-local-storage.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/ui-bootstrap-tpls-0.14.3.js')}}"></script>

	<script src="{{ url_for('static', filename='js/canvasjs.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/vis.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/plotly-latest.min.js')}}"></script>

	<script src="{{ url_for('static', filename='js/pm3.js')}}"></script>
	<script src="{{ url_for('static', filename='js/ptab.js')}}"></script>
	<script src="{{ url_for('static', filename='js/prmt.js')}}"></script>
	<script src="{{ url_for('static', filename='js/errors.js')}}"></script>
	<script src="{{ url_for('static', filename='js/jszip.min.js')}}"></script>

</head>

<body onload="webpage_onload()">
	<div id="loader"></div>
	
	<div style="display:none;" id="myDiv" class="animate-bottom">

	<nav class="navbar navbar-pm3 navbar-fixed-top" ng-controller="appController">
		{% include "pm3/nav.html" %}
	</nav>
	
	<div class="container-fluid" id="main-panes">
		<div class="row-fluid" align="center">
			<div class="col-md-8 left-col">
				<div id="graphPane" ng-controller="graphController">
					<div align="center" id="livegraph"></div>
				</div>
				<div class="row" id="systemPane" ng-controller="systemController">
					<div class="col-md-3">
						<ul class="nav nav-pills nav-stacked">
							<li class="nav-item" ng-class="{active:status.systemPane.selected == 0}">
								<a class="nav-link" role="button" aria-controls="home" aria-expanded="true" ng-click="status.systemPane.selected = 0">Algorithm</a>
							</li>
							<li class="nav-item" ng-class="{active:status.systemPane.selected == 1}">
								<a class="nav-link" role="button" aria-controls="home" aria-expanded="true" ng-click="status.systemPane.selected = 1">Calculation</a>
							</li>
							<li class="nav-item" ng-class="{active:status.systemPane.selected == 2}">
								<a class="nav-link" role="button" aria-controls="home" aria-expanded="true" ng-click="status.systemPane.selected = 2">Output</a>
							</li>
							<li class="nav-item" ng-class="{active:status.systemPane.selected == 3}">
								<a class="nav-link" role="button" aria-controls="home" aria-expanded="true" ng-click="status.systemPane.selected = 3">Beam</a>
							</li>
							<li class="nav-item" ng-class="{active:status.systemPane.selected == 4}">
								<a class="nav-link" role="button" aria-controls="home" aria-expanded="true" ng-click="status.systemPane.selected = 4">Detector</a>
							</li>
							<li class="nav-item" ng-class="{active:status.systemPane.selected == 5}">
								<a class="nav-link" role="button" aria-controls="home" aria-expanded="true" ng-click="status.systemPane.selected = 5">Graph</a>
							</li>
						</ul>
					</div>
					<div class="col-md-9">
						{% include "pm3/algorithm.html" %}
						{% include "pm3/calculation.html" %}
						{% include "pm3/beam.html" %}
						{% include "pm3/detector.html" %}
						{% include "pm3/output.html" %}
						{% include "pm3/graph.html" %}
					</div>
				</div>
			</div>

			<div class="col-md-4 right-col">
				<div id="samplePane" ng-controller="sampleController">
					<ul class="nav nav-pills nav-justified">
						<li class="nav-item" ng-class="{active:status.samplePane.selected == 0}">
							<a class="nav-link" role="button" aria-controls="home" aria-expanded="true" ng-click="status.samplePane.selected = 0">Elements</a>
						</li>
						<li class="nav-item" ng-class="{active:status.samplePane.selected == 1}">
							<a class="nav-link" role="button" aria-controls="home" aria-expanded="true" ng-click="status.samplePane.selected = 1">Compounds</a>
						</li>
						<li class="nav-item" ng-class="{active:status.samplePane.selected == 2}">
							<a class="nav-link" role="button" aria-controls="home" aria-expanded="true" ng-click="status.samplePane.selected = 2">Matrices</a>
						</li>
						<li class="nav-item" ng-class="{active:status.samplePane.selected == 3}">
							<a class="nav-link" role="button" aria-controls="home" aria-expanded="true" ng-click="status.samplePane.selected = 3">Layers</a>
						</li>
					</ul>
					{% include "pm3/elements.html" %}
					{% include "pm3/compounds.html" %}
					{% include "pm3/matrices.html" %}
					{% include "pm3/layers.html" %}
				</div>
			</div>
		</div>
	</div>
{% include "footer.html" %}
</div></body>
</html>
