<!DOCTYPE html>
<!-- define angular app -->
<html ng-app="App" lang="en">

<title>RRT Form</title>

<head>
	<!-- MOBILE -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<!-- SCROLLS -->
	<!--
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
	-->

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css')}}" />

	<!-- SPELLS -->
	<!--	
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
	-->

	<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/angular.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/ui-bootstrap-tpls-0.14.3.js')}}"></script>

	<script charset="utf-8" src="{{ url_for('static', filename='js/rrt.js')}}"></script>
</head>

<style type="text/css">
#samplesTab {border-color:rgb(125, 125, 125);}
#samplesTab li a { border-color: rgb(125, 125, 125);background-color:#EFEFEF; color:#949494}
#samplesTab li.active a {border-bottom-color: transparent; background-color:#F8F8F8; color:#000000}
.my-tab .tab-pane{ border:solid 1px rgb(125, 125, 125);  border-top: 0; background-color:#F8F8F8; }

p {
	text-indent: 50px;
}
</style>

<!-- define angular controller -->
<body ng-controller="AppController">

	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#/">RRT</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="#guidelines"><i class="glyphicon glyphicon-road"></i> Guidelines</a></li>
				<li><a href="#samples"><i class="glyphicon glyphicon-th-list"></i> Samples</a></li>
			</ul>
		</div>
	</nav>

	{% raw %}
	<div id="main" class="container">

		<div id="guidelines">
			<div align="center" class="page-header">
				<h1>RRT Guidelines</h1>
			</div>
			<p>We ask all the participants of the RRT to read the recommended guidelines below before performing any experiment or data treatment. Our main intention in laying down these guidelines is to establish some uniformity in the experiments, procedures and data formats.  These are recommendations only, but we ask you to follow them as strictly as possible in order to ensure: 1) a meaningful comparison among all results sent to us; 2) the possibility of directly compare the results from different laboratories; 3) the minimization of the overhead on our staff.</p>
			<h2>Experiments</h2>
			<p>You will receive a set of 5 samples. They are:</p>
			<ul>
				<li>nominal 1 nm HfO2 / 12 nm SiO2 thin film</li>
				<li>nominal 3 nm HfO2 / 12 nm SiO2 thin film</li>
				<li>nominal 5 nm HfO2 / 12 nm SiO2 thin film</li>
				<li>nominal 7 nm HfO2 / 12 nm SiO2 thin film</li>
				<li>multiple-layered (nominal 1 nm HfO2 / 5 nm SiO2)  thin film</li>
			</ul>

			<p>These samples are labeled in this document, respectively, as sample1, sample3, sample5, sample7 and multi. You are required to perform MEIS measurements on them. It is recommended that they are analyzed with either (H+ 100 keV and He+100 keV, in the case of TOF or TEA analysis system) or (H+ 400 keV and He+ 400 keV, in the case of the magnetic analysis system). The analysis of the data and a direct comparison of the results from different laboratories will certainly become easier if the set of experimental parameters are bound to some specific range. Hence, in order to achieve some uniformity we recommend the following scattering geometries, according to the detection system of each laboratory:</p>

			<ul>
				<li>TEA (Toroidal Electrostatic Analyzer): Beam at (close to) normal incidence, avoiding substrate channeling. TEA centered at around 120 degrees of scattering angle</li>
				<li>Magnetic: Typical Kobelco setup</li>
				<li>TOF-MEIS: Beam at (close to) 45 degree from the surface normal, avoiding substrate channeling. Detection centered at around 90 degrees of scattering angle</li>
			</ul>
			<h2>Procedures and Data Formats</h2>
			<p>We expect an ASCII file for each experiment. The filename must have the following format "[sample label][H or He].txt". For instance, the file containing the result for analysis of sample A, done with a H+ beam, must be labelled "AH.txt". Each file must contain exactly two columns: the first one contains the energy axis in keV (we expect equally spaced energy-bins; if that is not the case of your data, please add this information to the observation field found below). The second column must contain the number of counts per energy-bin. Each of these files must be uploaded separately in the appropriate field found below.</p>
			<p>We ask you to give us as much information as possible in regards to the procedure used to data reduction, for instance, the angular range used to integrate the total number of counts, or any modification which would affect the total yield, such as compensation for path-length, kinematic factor, scattering cross-section, and so on. We ask you also to inform a rough estimative of the effective energy resolution of your system. This information will be extremely useful as an initial starting point for the analysis of your data.</p>
		</div>
		
		<div id="samples">
			<div align="center" class="page-header">
				<h1>Samples Form</h1>
			</div>
			<div class="row">
				<div class="col-md-4">
					<label>User Code</label>
					<input type="text" ng-model="serial" name="serial" placeholder="..." required/>
				</div>
				<div class="col-md-4">
					<strong>Responsible:</strong> {{get_sender(serial).resp}}
				</div>
				<div class="col-md-4">
					<strong>Location:</strong> {{get_sender(serial).addr}}
				</div>
			</div>
			<br>
			<ul class="nav nav-tabs" id="samplesTab">
				<li ng-class="{active : iSa.header.index == 0}" ng-repeat="iSa in info.prmt">
					<a href="#sample{{iSa.header.index}}" data-toggle="tab">{{iSa.header.name}}</a>
				</li>
			</ul>
			<div class="tab-content my-tab">
				<div class="tab-pane" ng-class="{active : iSa.header.index == 0}" id="sample{{iSa.header.index}}" ng-repeat="iSa in info.prmt">
					<div class="container">
						<br>
						<form class="row" name="beamform" novalidate>
							<div class="form-group col-md-2">
								<h3>Beam:</h3>
							</div>
							<div class="form-group col-md-2" ng-class="{'has-error': beamform.E0.$invalid}">
								<label>E<sub>0</sub> (keV)</label>
								<input type="text" class="form-control" ng-model="iSa.beam.E0" name="E0" placeholder="..." ng-pattern="/^\d*\.?\d*$/" ng-disabled="get_sender(serial) == null" required/>
								<span ng-show="beamform.E0.$error.required" class="help-block">Required</span>
								<span ng-show="beamform.E0.$error.pattern" class="help-block">Only real numbers, <br>e.g. 100.23</span>
							</div>
							<div class="form-group col-md-2" ng-class="{'has-error': beamform.theta.$invalid}">
								<label>&theta;<sub>inc</sub> (°)</label>
								<input type="text" class="form-control" ng-model="iSa.beam.theta" uib-tooltip="Incidence angle with relation to normal" name="theta" placeholder="..." ng-pattern="/^\d*\.?\d*$/" ng-disabled="get_sender(serial) == null" required/>
								<span ng-show="beamform.theta.$error.required" class="help-block">Required</span>
								<span ng-show="beamform.theta.$error.pattern" class="help-block">Only real numbers, <br>e.g. 45.5</span>
							</div>
							<div class="form-group col-md-2" ng-class="{'has-error': beamform.Z.$invalid}">
								<label>Z</label>
								<input type="text" class="form-control" ng-model="iSa.beam.Z" name="Z" placeholder="..." ng-pattern="/^\d*$/" ng-disabled="get_sender(serial) == null" required/>
								<span ng-show="beamform.Z.$error.required" class="help-block">Required</span>
								<span ng-show="beamform.Z.$error.pattern" class="help-block">Only integers, <br>e.g. 2</span>
							</div>
							<div class="form-group col-md-2" ng-class="{'has-error': beamform.M.$invalid}">
								<label>M</label>
								<input type="text" class="form-control" ng-model="iSa.beam.M" name="M" placeholder="..." ng-pattern="/^\d*\.?\d*$/" ng-disabled="get_sender(serial) == null" required/>
								<span ng-show="beamform.M.$error.required" class="help-block">Required</span>
								<span ng-show="beamform.M.$error.pattern" class="help-block">Only real numbers, <br>e.g. 4.0026</span>
							</div>
						</form>
						<hr style="width:80%">
						<br>
						<form class="row" name="deteform">
							<div class="form-group col-md-2">
								<h3>Detector:</h3>
							</div>
							<div class="form-group col-md-3">
								<label>Type</label>
								<div class="btn-group">
									<button type="button" class="btn btn-default" ng-model="iSa.detector.type" uib-btn-radio="'electro'" ng-disabled="get_sender(serial) == null" name="TEA">TEA</button>
									<button type="button" class="btn btn-default" ng-model="iSa.detector.type" uib-btn-radio="'TOF'" ng-disabled="get_sender(serial) == null" name="TOF">TOF</button>
									<button type="button" class="btn btn-default" ng-model="iSa.detector.type" uib-btn-radio="'magnetic'" ng-disabled="get_sender(serial) == null" name="Magnetic">Magnetic</button>
								</div>
							</div>
							<div class="form-group col-md-2" ng-class="{'has-error': deteform.resolution.$invalid}">
								<label>Resolution (eV)</label>
								<input type="text" class="form-control" ng-model="iSa.detector.resolution" uib-tooltip="FWHM of the energy resolution distribution" name="resolution" placeholder="..." ng-pattern="/^\d*\.?\d*$/" ng-disabled="get_sender(serial) == null" required/>
								<span ng-show="deteform.resolution.$error.required" class="help-block">Required</span>
								<span ng-show="deteform.resolution.$error.pattern" class="help-block">Only real numbers, <br>e.g. 355.87</span>
							</div>
							<div class="form-group col-md-2" ng-class="{'has-error': deteform.Y0.$invalid}">
								<label>&Theta; (°)</label>
								<input type="text" class="form-control" ng-model="iSa.detector.Y0" uib-tooltip="Scattering angle" name="Y0" placeholder="..." ng-pattern="/^\d*\.?\d*$/" ng-disabled="get_sender(serial) == null" required/>
								<span ng-show="deteform.Y0.$error.required" class="help-block">Required</span>
								<span ng-show="deteform.Y0.$error.pattern" class="help-block">Only real numbers, <br>e.g. 90.2</span>
							</div>
							<div class="form-group col-md-2" ng-class="{'has-error': deteform.LY.$invalid}">
								<label>&Delta;&Theta; (°)</label>
								<input type="text" class="form-control" ng-model="iSa.detector.LY" uib-tooltip="Detector angular opening" name="LY" placeholder="..." ng-pattern="/^\d*\.?\d*$/" ng-disabled="get_sender(serial) == null" required/>
								<span ng-show="deteform.LY.$error.required" class="help-block">Required</span>
								<span ng-show="deteform.LY.$error.pattern" class="help-block">Only real numbers, <br>e.g. 2.5</span>
							</div>

							<div class="form-group col-md-offset-3 col-md-2" ng-class="{'has-error': deteform.dist.$invalid}" ng-show="iSa.detector.type == 'TOF'">
								<label>L (m)</label>
								<input type="text" class="form-control" ng-model="iSa.detector.TOF_s_distance" uib-tooltip="TOF distance (m)" name="dist" placeholder="..." ng-pattern="/^\d*\.?\d*$/" ng-disabled="get_sender(serial) == null" required/>
								<span ng-show="deteform.dist.$error.required" class="help-block">Required</span>
								<span ng-show="deteform.dist.$error.pattern" class="help-block">Only real numbers, <br>e.g. 2.5</span>
							</div>
							<div class="form-group col-md-2" ng-class="{'has-error': deteform.TOFres.$invalid}" ng-show="iSa.detector.type == 'TOF'">
								<label>&delta;t (ns)</label>
								<input type="text" class="form-control" ng-model="iSa.detector.TOF_s_resolution" uib-tooltip="TOF resolution (ns)" name="TOFres" placeholder="..." ng-pattern="/^\d*\.?\d*$/" ng-disabled="get_sender(serial) == null" required/>
								<span ng-show="deteform.TOFres.$error.required" class="help-block">Required</span>
								<span ng-show="deteform.TOFres.$error.pattern" class="help-block">Only real numbers, <br>e.g. 2.5</span>
							</div>
							<div class="form-group col-md-2" ng-class="{'has-error': deteform.X0.$invalid}" ng-show="iSa.detector.type == 'TOF'">
								<label>&alpha; (°)</label>
								<input type="text" class="form-control" ng-model="iSa.detector.X0" uib-tooltip="Out of plane angle (°)" name="X0" placeholder="..." ng-pattern="/^\d*\.?\d*$/" ng-disabled="get_sender(serial) == null" required/>
								<span ng-show="deteform.X0.$error.required" class="help-block">Required</span>
								<span ng-show="deteform.X0.$error.pattern" class="help-block">Only real numbers, <br>e.g. 2.5</span>
							</div>
							<div class="form-group col-md-2" ng-class="{'has-error': deteform.LX.$invalid}" ng-show="iSa.detector.type == 'TOF'">
								<label>&Delta;&alpha; (°)</label>
								<input type="text" class="form-control" ng-model="iSa.detector.LX" uib-tooltip="Out of plane oppening (°)" name="LX" placeholder="..." ng-pattern="/^\d*\.?\d*$/" ng-disabled="get_sender(serial) == null" required/>
								<span ng-show="deteform.LX.$error.required" class="help-block">Required</span>
								<span ng-show="deteform.LX.$error.pattern" class="help-block">Only real numbers, <br>e.g. 2.5</span>
							</div>
						</form>
						<hr style="width:80%">
						<br>
						<form class="row" name="dataform">
							<div class="form-group col-md-2">
								<h3>Data:</h3>
							</div>
							<div class="form-group col-md-2" ng-class="{'has-error': dataform.file.$error.required}">
								<label>ASCII file</label><br>
								<input ng-show="info.data[iSa.header.index].file == ''" ng-model="info.data[iSa.header.index].file" class="btn btn-default form-control" type="button" name="file" ng-click="upload_data(iSa.header.index)" style="width:100px;" value="Upload" ng-disabled="get_sender(serial) == null" required/>
								<span ng-show="dataform.file.$error.required" class="help-block">Required</span>
								<input ng-show="info.data[iSa.header.index].file != ''" class="btn btn-default" type="button" name="file" ng-click="upload_data(iSa.header.index)" style="width:100px;" value="Change"/>
							</div>
							<div class="form-group col-md-offset-1 col-md-4" ng-show="info.data[iSa.header.index].file != ''">
								<label>Name</label>
								<br>{{info.data[iSa.header.index].file}}
							</div>
							<div class="form-group col-md-offset-1 col-md-2" ng-show="info.data[iSa.header.index].file != ''">
								<label>Size</label>
								<br>{{info.data[iSa.header.index].size}} kBs
							</div>
							<input type="file" class="form-control hide" id="upload_data_{{iSa.header.index}}" name="hidden" onchange="angular.element(this).scope().upload_data_select(this)"/>
						</form>
						<hr style="width:80%">
						<br>
						<form class="row">
							<div class="form-group col-md-3">
								<h3>Corrections:</h3>
							</div>
							<div class="form-group col-md-6">
								<label>If any, describe the steps used</label>
								<textarea class="form-control" ng-model="iSa.header.obs" placeholder="..."></textarea>
							</div>
						</form>
						<hr style="width:80%">
						<div align="center" style="padding:20px;">
							<button type="button" ng-show="validation() != 0" class="btn btn-warning" style="width:100px;" ng-click="send_info()" ng-disabled="get_sender(serial) == null">Check form!</button>
							<button type="button" ng-show="validation() == 0" class="btn btn-success" style="width:100px;" ng-click="send_info()" ng-disabled="get_sender(serial) == null">Send!</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<br>

	</div>
	{% endraw %}

{% include "footer.html" %}

</body>

</html>
