<div class="modal-header">
	<h3 class="modal-title">Periodic Table</h3>
</div>
<div class="modal-body">
	<ul class="main">
		<li ng-repeat="iEl in ptab" class="{{iEl.class}}" align="center" ng-click="select_element(iEl)">
		<div style="line-height: 0.7;">
			<font style="font-size:10px;">{{iEl.Z}}<br></font>
		</div>
		<div style="line-height: 1.3;">
			<strong style="font-size:16px;">{{iEl.symb}}</strong>
		</div>
		<div style="line-height: 0.1;">
			<font style="font-size:9px;"><br>{{iEl.M}}</font>
		</div>
		</li>
	</ul>
</div>

<div class="modal-footer">
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

<style type="text/css">
	.app-modal-window .modal-dialog {
		width: 850px;
	}

	.main:after {
		clear:both;
		content:"";
		display:table;
	}
 
	.main li {
		line-height: 0.8;
		text-align: center;
		width:40px;
		height:45px;
		border:2px solid rgba(0,0,0,0.3);
		position:relative;
		float:left;
		margin:1px;
		cursor:pointer;
		overflow:hidden;
		transition:all .2s ease-in;
	}

	.main .empty {
		border:none; 
		cursor:default;
	}

	.main li:hover {
		transform:scale(1.5);
		z-index:100;
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
	} 

	.main .empty:hover {
		box-shadow:none;
		transform:none;
	}

	.type-0 { background:#4CAFFA; }
	.type-1 { background:#dd9999; }
	.type-2 { background:#F8B707; }
</style>
