<div class="modal-header">
    <h3 class="modal-title">Matrix Visualization</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-7">
            <div id="visualization"></div>
            <div ng-init="teste()"></div>
        </div>
<!--
        <div class="col-md-5">
            <h4 align="center">Aditional Observations:</h4>
            <div class="row">
                <div class="col-md-3 padcol">
                    <label align="center">Compound</label>
                     <div ng-repeat="iCp_str in range(prmt.header.nCp)">
                        <input type="text" align="center" ng-model="iCp_str">
                    </div>
                </div>
                <div class="col-md-3 padcol">
                    <label align="center">Counts (voxs)</label>
                    <div ng-repeat="iCp_str in range(prmt.header.nCp)">
                        <!-- <input type="text" align="center" ng-model="A[iCp_str]"> -->
<!--
                        <input type="text" ng-model="A[iCp_str]" ng-pattern="/[0-9]\.[0-9][0-9]/g"/>
                    </div>
                </div>
                <div class="col-md-3 padcol">
                    <label align="center">Volume (cm³)</label>
                    <div ng-repeat="iCp_str in range(prmt.header.nCp)">
                       <!-- <input type="float" align="center" ng-model="V[iCp_str]"> -->
<!--
                        <input type="text" ng-model="strV[iCp_str]" ng-pattern="/[0-9]\.[0-9][0-9]/g"/>

                    </div>
                </div>
                <div class="col-md-3 padcol">
                    <label align="center">Mass (g)</label>
                    <div ng-repeat="iCp_str in range(prmt.header.nCp)">
                        <input type="text" align="center" ng-model="strM[iCp_str]" ng-pattern="/[0-9]\.[0-9][0-9]/g"/>
                    </div>
                </div>
            </div>
        </div>
-->
    </div>
</div>

<style type="text/css">
    .app-modal-window .modal-dialog {
        width: 1050px;
    }
</style>
